<form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">

  <div>
    <label for="from">From</label>
    <input id="from" type="text" formControlName="from" size="54">
  </div>
  <div>
    <label for="to">To</label>
    <input id="to" type="text" formControlName="to" size="54">
  </div>
  <div>
    <label for="pubkey">Recipient Public Key</label>
    <input id="pubkey" type="text" formControlName="pubkey" size="54">
  </div>
  <div>
    <label for="subject">Subject</label>
    <input id="subject" type="text" formControlName="subject" size="54">
  </div>
  <div>
    <label for="body">Body</label>
    <textarea id="body" type="text" formControlName="body" rows="8"></textarea>
  </div>

  <button class="button" type="submit">Send Message</button>

</form>

<div style="margin-top: 20px;">
  sendservice response:
  <pre>
    {{ messageResult | json }}
  </pre>
</div>